body{
    background-color: aqua;
}
div{
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(2, 2, 49);
    background-color: rgb(6, 54, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    margin: 20px 20px 0 20px;
}
p {
    margin: 0 40px 0 40px;      
}
h1{
    text-align: center;
}